html {
    background-color: #333;
}

body {
    max-width: 960px;
    margin: 0 auto;
    font-size: 2em;
    color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    clear: both;
    margin: 0;
    padding: 20px 0;
}

p, ul {
    max-width: 600px;
    margin: 0 0 0 auto;

}

li {
    text-align: left;
    min-width: 120px;
}

.pr-page {
    padding: 20px 40px 20px;
    min-height: 600px;
}