html {
    background-color: #333;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 2.2em;
    color: #555;
    font-family: sans-serif;
    font-weight: 100 !important;
    position: relative;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    clear: both;
    display: block;
    font-size: 3em;
    text-align: right;
    max-width: 640px;
    font-family: sans-serif;
    font-weight: 100 !important;
    position: absolute;
    right: 40px;
    padding: 40px 0 80px;
    margin: 60px 0;
    box-sizing: border-box;
}

p, ul {
    max-width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}

pre {
    background-color: rgba(0, 0, 0, 0.33);
    padding: 5px 10px;
}

pre code {

}

li {
    text-align: left;
    min-width: 120px;
}

.pr-src,
.pr-screen canvas {
    max-width: 960px;
    margin: 0 auto;
    display: block;
}

.pr-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(70, 70, 70);
}

.pr-screen canvas {
    opacity: 0.1;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.pr-screen canvas.pr-canvas-ready {
    opacity: 1;
}

.pr-object {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.pr-page {
    padding: 80px 40px;
    min-height: 600px;
    position: relative;
}

.pr-page-background {
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
